<div data-controller="text-editor">
	<div class="editor" contenteditable="true" data-target="text-editor.editor"></div>

	<button data-action="text-editor#insertMention">
		INSERT TEST MENTION
	</button>
</div>