<div data-controller="text-editor">
	<div class="editor" contenteditable="true" data-target="text-editor.editor" data-action="input->text-editor#updateInput"></div>

	<%= hidden_field_tag :body, nil, data: { target: "text-editor.input" } %>

	<button data-action="text-editor#insertMention">
		INSERT TEST MENTION
	</button>
</div>